<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-2">Wrong Password , Please Try Again </h1>
   

  </div>
</div>

<%- include('partials/footer') %>